[submodule "medium/src/medium/resources/extras/libs/jquery"]
	path = medium/src/medium/resources/extras/libs/jquery
	url = git@github.com:hivesolutions/jquery.git
[submodule "medium/src/medium/resources/extras/libs/jquery_util"]
	path = medium/src/medium/resources/extras/libs/jquery_util
	url = git@github.com:hivesolutions/jquery_util.git
[submodule "medium/src/medium/resources/extras/libs/jquery_util_ui"]
	path = medium/src/medium/resources/extras/libs/jquery_util_ui
	url = git@github.com:hivesolutions/jquery_util_ui.git
[submodule "medium/src/medium/resources/extras/libs/util"]
	path = medium/src/medium/resources/extras/libs/util
	url = git@github.com:hivesolutions/js_util.git
